.img{
    width: 100%;
}
.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .button-fixed{
    position: absolute;
    right: 45px;
    margin-top: 10px;
    /* bottom: 0px; */
  }
.md-36 { font-size: 36px;
 }
 .md-24 { font-size: 24px;
 }
 .width{
   width: 50px !important;
   position: absolute;
   top: 0px;
   left: 70%;
 }