
<div class="mat-typography text-centered">

<div class="container ">
  <img class="start-img"src="/assets/images/background.jpg" alt="How it works" style="width:100%">
  <!-- <button class="btn" mat-button>GET COOKING</button> -->
</div>
<div class="welcome-container">
  <h1 class="mat-display-1">A recipe box. Simple.</h1>
  <h2 class="mat-subheading-2">Fresh ingredients and delicious recipes. Good food for good live.</h2>
  <a class="button-fixed" mat-raised-button color="primary"routerLink="/box">GET COOKING</a>

</div>
<div class="home-cooking-container">
  <h1 class="mat-display-2">Home cooking is important</h1>
  <h2>Good intentions to cook can crumble on busy days. So we make it simple. (And tasty.)</h2>
  <div>
    <mat-grid-list  cols="3" role="list">
        <mat-grid-tile>
          <div>
        <img class="round-img values" src="/assets/images/quality.jpg" alt="quality">
        <h3 class="mat-heading">Quality</h3>
            
        <p>Fresh ingredients, so feel unique taste of every bite.</p>
      </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
          <img class="round-img values" src="/assets/images/simple.jpg" alt="simpicity">
            <h3 class="mat-heading">Simplicity</h3>
          <p>Foolproof recipes, so anyone can cook a delicious meal. (Really.)</p>
        </div>
          </mat-grid-tile>
          <mat-grid-tile>
              <div>
            <img class="round-img values" src="/assets/images/variety.jpg" alt="variety">
            <h3 class="mat-heading">Variety</h3>
            <p>Choose what you like: wholesome, adventurous, vegetarian, meat, fish.</p>
          </div>
            </mat-grid-tile>
      

    </mat-grid-list>
  </div>
</div>

<div class="how-container">
    <h1 class="mat-display-2">How it works?</h1>
    
      <mat-grid-list  cols="3" role="list">
        <mat-grid-tile class="how-works">
            <div>
          <img class="round-img how-works-img" src="/assets/images/recipes.png" alt="recipes">
          <p>We create easy-to-follow recipes</p>
        </div>
        </mat-grid-tile >
        <mat-grid-tile class="how-works">
            <div>
          <img class="round-img how-works-img" src="/assets/images/delivery.png" alt="">
          <p>We deliver fresh, seasonal, perfectly measured ingredients delivered right to your door</p>
        </div>
        </mat-grid-tile>
        <mat-grid-tile class="how-works">
            <div>
          <img class="round-img how-works-img"src="/assets/images/cook.png" alt="">
          <p>You follow our recipes and enjoy delicious, unforgettable meals, cooked from scratch </p>
        </div>
        </mat-grid-tile>
          
  
      </mat-grid-list>
    
  </div>
  <div class="container">
    <img class="start-img" src="/assets/images/banner.jpg" alt="How it works" style="width:100%">
    <div class="inside-box top-right">
      <mat-list class="text-left" >
          <mat-list-item>
            <mat-icon  mat-list-icon color="primary">check_circle</mat-icon>
            <p mat-line>Perfectly measured ingredients</p>
          </mat-list-item>
          <mat-list-item >
              <mat-icon  mat-list-icon color="primary">check_circle</mat-icon>
              <p mat-line>Easy-to-follow recipe cards</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon   mat-list-icon color="primary">check_circle</mat-icon>
                <p mat-line>2 servings per recipe</p>
              </mat-list-item>
              <mat-list-item>
                  <mat-icon  mat-list-icon color="primary">check_circle</mat-icon>
                  <p mat-line>Special packaging to keep food cool</p>
                </mat-list-item>
      </mat-list>
      <a class="button-fixed" mat-raised-button color="primary" routerLink="/box">GET COOKING</a>
      
  </div>
  </div>
         
       
     
  

</div>